.App {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.dark{
    background-color: #000000;
    color: #ffffff;
}
.NavBar {
    display: flex;
    width: 100%;;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    position: sticky;
    top: 0;
}

.NavBar input{
    height: 30px;
    width: 300px;
    margin-left: 15px;
    border-radius: 5px;
    padding-left: 5px;
    font-size: 15px;
}

.NavBar button{
    margin-left: 20px;
    height: 30px;
    width: 80px;
    cursor: pointer;

}

.NavBar .links{
    position: absolute;
    right: 20px;
}

.NavBar .links a{
    color: #fff;
    padding: 2px 5px;
    border: 1px solid #ffffff;
    text-decoration: none;
}

.products {
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 60%;
    justify-content: center;
}

.products .dark{
    background-color: #000000;
    color: #ffffff;
}

.product {
    width: 220px;
    margin: 10px;
    border: 1px solid grey;
}

.product .title, .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.product .actions {
    border-top: 1px solid gray;
}


.product .actions button {
    height: 25px;
    color: white;
    font-weight: 600;
    font-size: 15px;
    background-color: #4caf50;
}

.product img {
    width: 100%;
}

.cart {
    display: flex;
    flex: 0 0 25%;
    flex-direction: column;
    align-items: center;
    border: 1px solid grey;
    height: 100vh;
    position: sticky;
    top: 50px;
    margin: 10px 0 0;
}

.cart .dark {
    background-color: #000000;
    color: #ffffff;
}

.cart .cart-items {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cart .cart-item {
    display: flex;
    margin: 5px;
    padding: 5px;
    border: 1px dotted grey;
}

.cart-item .info {
    padding: 5px;
    display: flex;
    flex: auto;
    justify-content: space-between;
}

.cart-item .info button {
    width: 100px;
}
